doctype html
head
	meta(charset="utf-8")
	title mtgjson
	meta(name="viewport",content="width=device-width, initial-scale=1")
	link(rel="shortcut icon",href="data:image/x-icon;,",type="image/x-icon")
	link(rel='stylesheet',type='text/css',href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Roboto Mono')
	link(rel="stylesheet",type="text/css",href="/mtgjson.css")
	block analytics
body
	block contents
	div#footer
		p The JSON files contains data that is Copyright &copy; Wizards of the Coast - All Rights Reserved
		p This website is not affiliated with Wizards of the Coast in any way.