body {
  background-color: #000;
  color: #fff;
  overflow: hidden;
}
#cards {
  width: 90%;
  margin-left: 5%;
}
#cards tr.card {
  display: none;
}
#cards tr.card.visible {
  display: table-row;
}
#cards tr.card td.card {
  width: 490px;
  vertical-align: top;
}
#cards tr.card td.card span {
  font-size: 150%;
  font-family: monospace;
  margin-left: 1em;
  line-height: 1.6;
  max-width: 480px;
}
#cards tr.card td.data {
  vertical-align: top;
}
#cards tr.card td.data .textCard {
  position: relative;
  width: 900px;
  height: 830px;
  border: 1px solid #aaa;
}
#cards tr.card td.data .textCard span {
  position: absolute;
  font-size: 150%;
  background-color: #3b3c2b;
}
#cards tr.card td.data .textCard .name,
#cards tr.card td.data .textCard .type,
#cards tr.card td.data .textCard .supertypes,
#cards tr.card td.data .textCard .types,
#cards tr.card td.data .textCard .subtypes,
#cards tr.card td.data .textCard .text,
#cards tr.card td.data .textCard .flavor,
#cards tr.card td.data .textCard .artist,
#cards tr.card td.data .textCard .number,
#cards tr.card td.data .textCard .names {
  left: 0.5em;
}
#cards tr.card td.data .textCard .manaCost,
#cards tr.card td.data .textCard .cmc,
#cards tr.card td.data .textCard .rarity,
#cards tr.card td.data .textCard .powerToughnessLoyalty,
#cards tr.card td.data .textCard .colors {
  right: 0.5em;
}
#cards tr.card td.data .textCard .name,
#cards tr.card td.data .textCard .manaCost {
  top: 0.5em;
}
#cards tr.card td.data .textCard .artist,
#cards tr.card td.data .textCard .powerToughnessLoyalty {
  bottom: 0.5em;
}
#cards tr.card td.data .textCard .cmc,
#cards tr.card td.data .textCard .names {
  top: 2em;
}
#cards tr.card td.data .textCard .colors {
  top: 3.5em;
}
#cards tr.card td.data .textCard .types {
  top: 13.5em;
}
#cards tr.card td.data .textCard .type,
#cards tr.card td.data .textCard .rarity {
  top: 15em;
}
#cards tr.card td.data .textCard .text {
  top: 16.5em;
}
#cards tr.card td.data .textCard .flavor {
  bottom: 2em;
  font-style: italic;
}
#cards tr.card td.data .textCard .number {
  left: 50%;
  bottom: 0.5em;
}
#cards tr.card td.data .printings,
#cards tr.card td.data .foreignNames,
#cards tr.card td.data .rulings {
  font-size: 109%;
}
#cards tr.card td.data .foreignNames tr:nth-child(even),
#cards tr.card td.data .rulings tr:nth-child(even) {
  background-color: #3b3c2b;
}
#cards tr.card td.data .foreignNames tr .left,
#cards tr.card td.data .rulings tr .left {
  vertical-align: top;
  white-space: nowrap;
  text-align: right;
}
#cards tr.card td.data .foreignNames tr .right,
#cards tr.card td.data .rulings tr .right {
  padding-left: 1em;
}
#cards tr.card td.data .foreignNames {
  position: absolute;
  top: 1em;
  left: 1550px;
}
#cards tr.card td.data .printings {
  display: inline-block;
  margin-top: 1em;
  white-space: nowrap;
}
#cards tr.card td.data .rulings {
  margin-top: 1.5em;
}
