@import "conform"

body
	background-color black
	color white
	overflow hidden

#cards
	width 90%
	margin-left 5%

	tr.card
		display none

		&.visible
			display table-row

		td.card
			width 490px
			vertical-align top

			span
				font-size 150%
				font-family monospace
				margin-left 1.0em
				line-height 1.6
				max-width 480px

		td.data
			vertical-align top

			.textCard
				position relative
				width 900px
				height 830px
				border 1px solid #aaaaaa

				span
					position absolute
					font-size 150%
					background-color #3B3C2B

				.name, .type, .supertypes, .types, .subtypes, .text, .flavor, .artist, .number
					left 0.5em

				.manaCost, .cmc, .rarity, .powerToughnessLoyalty
					right 0.5em

				.name, .manaCost
					top 0.5em

				.artist, .powerToughnessLoyalty
					bottom 0.5em

				.cmc
					top 2.0em

				.types
					top 13.5em

				.type, .rarity
					top 15.0em

				.text
					top 16.5em

				.flavor
					bottom 2.0em
					font-style italic

				.number
					left 50%
					bottom 0.5em

			.rulings
				margin-top 3.0em
				font-size 109%

				.ruling
					&:nth-child(even)
						background-color #3B3C2B

					.date
						vertical-align top
						white-space nowrap
						text-align right

					.text
						padding-left 1.0em
