#header
	#vendor
		a(href="/") MTG JSON
	ul
		li
			a(href="/documentation.html") Documentation
		li
			a(href="/sets.html") All Sets
		li
			a(href="/changelog.html") Changelog
		li
			a(href="https://github.com/mtgjson/mtgjson") GitHub
