extends _layout.jade

block contents
	#contents
		div
			h2
				| Change Log (
				a(href="/atom.xml") rss
				|)
			if changelog
				each log in changelog
					.changelog-entry
						h3
							a(name="changeLog" + log.uniqueID)
							=log.version
						.changelog-date=log.when
						ul
							each change in log.changes
								li!=change
