@import "conform"

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video
	margin 0
	padding 0
	border 0
	font-size 100%
	font inherit
	vertical-align baseline

body, html
	background-color #515152
	font-family 'Monaco', courier, monospace
	color #cccccc

body
	padding 1.0em

h1
	background-color #002b36
	color #839496
	font-size 140%
	padding 0.5em
	font-weight bold

a, a:visited
	color #268bd2

table
	color #839496
	border-spacing 0
	border-collapse collapse

	th, td
		border 1px solid black
		padding 0.2em 1.0em
		vertical-align top

	th
		background-color #073642
		font-weight bold

	td
		background-color #002b36
		text-align right
		white-space nowrap

	td:last-child
		text-align left
		white-space normal

#cardExample
	float left
	margin-top 1.0em
	margin-left 1.0em