html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body,
html {
  background-color: #515152;
  font-family: 'Monaco', courier, monospace;
  color: #ccc;
}
body {
  padding: 1em;
}
h1 {
  background-color: #002b36;
  color: #839496;
  font-size: 140%;
  padding: 0.5em;
  font-weight: bold;
}
a,
a:visited {
  color: #268bd2;
}
table {
  color: #839496;
  border-spacing: 0;
  border-collapse: collapse;
}
table th,
table td {
  border: 1px solid #000;
  padding: 0.2em 1em;
  vertical-align: top;
}
table th {
  background-color: #073642;
  font-weight: bold;
}
table td {
  background-color: #002b36;
  text-align: right;
  white-space: nowrap;
}
table td:last-child {
  text-align: left;
  white-space: normal;
}
#cardExample {
  float: left;
  margin-top: 1em;
  margin-left: 1em;
}
