@import "conform"

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video
	margin 0
	padding 0
	border 0
	font inherit
	vertical-align baseline

body, html
	background-color #313131
	font-family 'Monaco', courier, monospace
	color #cccccc

body
	padding 0 1.5em 1.5em 1.5em
	font-size 120%

ul
	margin-left 1.5em

h2
	font-size 160%
	font-weight bold

	.value
		color #cb4b16

	a
		font-size 50%
		margin-left 2.0em

h1
	font-size 160%
	padding 0.5em
	font-weight bold

	a
		font-size 40%
		margin-left 2.0em

a, a:visited
	color #268bd2

p, li
	line-height 1.4
	font-size 120%

hr
	height 1px
	border 0
	background-linear-gradient left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)

.docLink
	font-size 50%
	position relative
	top -0.5em

pre
	border 1px solid black

strong
	font-weight bold

table
	color #839496
	border-spacing 0
	border-collapse collapse
	margin-bottom 4.0em

	th, td
		border 1px solid black

	th
		background-color #073642
		font-weight bold
		vertical-align bottom
		padding 0.5em 1.0em 0.2em 1.0em

	td
		background-color #002b36
		text-align right
		white-space nowrap
		vertical-align top
		padding 0.2em 0.5em 1.0em 1.0em

	td:last-child
		text-align left
		white-space normal

table.downloadsAll
	width 40.0em
	margin-bottom 1.5em

	tbody td
		padding-left 2.0em

		&.sizeColLeft
			padding-right 0

table.downloads
	tr:first-child th
		font-size 140%

	th.spacer
		width auto

	td
		width 28.0em
		padding 0.5em 1.0em
		text-align center
		vertical-align middle

	td.sizeColLeft
		text-align left
		line-height 1.2em
		border-right 0

	td.sizeColRight
		text-align right
		line-height 1.2em
		border-left 0

	tr.firstRow
		td.sizeColLeft, td.sizeColRight
			border-bottom 0

	tr.secondRow
		td.sizeColLeft, td.sizeColRight
			border-top 0

table.downloadsIndividual
	td:first-child
		text-align left

	td
		white-space nowrap
		width auto

		.size
			margin-left 0

table.downloadsAllSets
	float left
	margin-right 5.0em

.individualSetsLink
	margin-left 4.5em
	font-size 150%

table.symbols
	td.spacer, th.spacer
		padding 0
		width 1.0em

	td
		text-align center
		font-size 120%
		padding 1.0em
		vertical-align middle

#cardExample
	float left
	margin-top 1.0em
	margin-left 1.0em