extends _layout

block header
	//- Don't use the regular header.

block contents
	#frontmatter
		#header
			ul
				li
					a(href="/documentation.html") Documentation
				li
					a(href="/sets.html") Sets
				li
					a(href="/changelog.html") Changelog
				li
					a(href="https://github.com/mtgjson/mtgjson") GitHub
		#logo
			span#mtgjson
				img(src="/images/logo.png" style="min-width:150px; max-width:500px")
			span#slogan Provides Magic: the Gathering card data in JSON format
			span#currentversion
				div
					| Current version: 
					a(href="/changelog.html")=version
				div=lastUpdated
		#downloads
			div
				span
					a(href="/json/AllSets.json.zip")
						| All Sets
						=allSizeZip
				span
					a(href="/json/AllCards.json.zip")
						| All Cards
						=allCardsSizeZip
			div
				span
					a(href="/json/AllSets-x.json.zip")
						| All Sets + Extras
						=allSizeXZip
				span
					a(href="/json/AllCards-x.json.zip")
						| All Cards + Extras 
						=allCardsSizeXZip
			div
				a(href="https://mahost.ca/",target="_blank")
					img(src="/images/mahost.png",width="280",height="80")
			div
				form(action="https://www.paypal.com/cgi-bin/webscr",method="post",target="_top")
					input(type="hidden",name="cmd",value="_s-xclick")
					input(type="hidden",name="hosted_button_id",value="GQC8KTKMYEQPA")
					input(type="image",src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif",border="0" name="submit",alt="PayPal")
					img(alt="",border="0",src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif",width="1",height="1")
		.down
			img(src="/images/down.png")
	#main-contents
		p This project provides up to date Magic the Gathering card data in JSON format for developers to easily use in their projects.
		p
			| If you encounter any bugs or have feedback, please open a ticket on 
			span(style='font-weight:bold')
				a(href="https://github.com/mtgjson/mtgjson/issues",target="_blank") GitHub
			|  and/or email me at 
			a(href="mailto:sergio@mtgjson.com") sergio@mtgjson.com
			br
			br
			|  Chat with us on 
			span(style='font-weight:bold')
				a(href="https://gitter.im/mtgjson/mtgjson",target="_blank") Gitter!
		p Extras include: Rulings, Printings, Foreign Language Names, Promo Sources and Original Texts
		p
			| Data is available in AllSets, AllCards or by 
			a(href="sets.html") individual sets
		p All files are UTF8 encoded. There are UTF8 characters (such as Æther Adept) in many of the files.
		p 
			| JSONP support (
			a(href="/documentation.html#jsonp") docs
			|)
	#examplecard
		h1 Example Card
		img(src="/images/sentriplets.jpeg")
		pre
			code(data-language="javascript").
				{
					"name" : "Sen Triplets",
					"manaCost" : "{2}{W}{U}{B}",
					"cmc" : 5,
					"colors" : ["White", "Blue", "Black"],

					"type" : "Legendary Artifact Creature — Human Wizard",
					"supertypes" : ["Legendary"],
					"types" : ["Artifact", "Creature"],
					"subtypes" : ["Human", "Wizard"],

					"rarity" : "Mythic Rare",

					"text" : "At the beginning of your upkeep, choose target opponent.
					         This turn, that player can't cast spells or activate
					         abilities and plays with his or her hand revealed.
					         You may play cards from that player's hand this turn.",

					"flavor" : "They are the masters of your mind.",

					"artist" : "Greg Staples",
					"number" : "109",

					"power" : "3",
					"toughness" : "3",

					"layout" : "normal",
					"multiverseid" : 180607,
					"imageName" : "sen triplets",
					"id" : "3129aee7f26a4282ce131db7d417b1bc3338c4d4"
				}
	#thanks
		div
			h2 Thanks to
			ul
				li
					strong Robert Schults
					|  for creating and mantaining this project from 2013 to 2015. Thank you for all your work and dedication!
				li 
					|Thank you VERY MUCH to these folks who reported bugs and helped in other ways:
					ul#individual-thanks
						li Bobby Wertman
						li rotaercz
						li Chris Bush
						li Patrick Rogers
						li Lewis
						li aeosynth
						li Pouncing Kavu
						li Florian
						li Carlo Luchessa
						li Sean Eshbaugh
						li Didero
						li laxika
						li Vlad Grigorescu
						li mini.dude_22
						li Nathan Nelson
						li Rudi v. Pelt
						li Javier Bueno Hedo
						li Eric Olson
						li Michael Wybrow
						li SpideR
						li Brian
						li TheOnlyDJCat
						li Moghedrin
						li Greg Falcon
						li kaoD
						li Josef Kronbichler
						li Piotr
						li Andrew Fearson
						li Daniel Rasmussen
						li Nick Wedd
						li
							a(href="https://github.com/gwax",target="_blank") George Leslie-Waksman
						li
							a(href="https://github.com/Psithief",target="_blank") Psithief
						li Wiliam Scicchitano
						li smecaj
						li Jerry Mou
						li Anonycat
						li jenjia
						li MHostile
						li tom__bombadil
						li Garr Godfrey
						li
							a(href="https://github.com/ZeldaZach",target="_blank",style='font-weight:bold') Zach Halpern
						li
							a(href="https://github.com/Garbee",target="_blank") Jonathan Garbee
						li
							a(href="https://github.com/Daenyth",target="_blank") Gavin Bisesi
						li
							a(href="https://github.com/fenhl",target="_blank") Fenhl
				li
					a(href="https://wiki.mtgsalvation.com/article/Main_Page",target="_blank") MTG Salvation Wiki
					|  for an AWESOME resource
				li
					a(href="https://www.magiclibrarities.net/index.html",target="_blank") Magic Librarities
					|  for info on promo cards
				li
					a(href="http://magiccards.info/",target="_blank") magiccards.info
					|  for info on promo and token cards
				li
					| The kind soul who provided the 
					a(href="https://www.slightlymagic.net/forum/viewtopic.php?t=4430",target="_blank") mana symbols
					|  in SVG vector format
				li
					a(href="https://www.slightlymagic.net/forum/viewforum.php?f=15",target="_blank") CCGHQ
					|  images are amazingly useful for helping me visually verify that card data is correct
				li
					a(href="http://ethanschoonover.com/solarized",target="_blank") Solarized
					|  is a great color scheme and its colors were used on this page for a long while
				li
					a(href="https://company.wizards.com/",target="_blank") Wizards of the Coast
					|  for continuing to support and develop this awesome game
			</ul>
		</div>
	</div>
