html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
body,
html {
  background-color: #313131;
  font-family: 'Monaco', courier, monospace;
  color: #ccc;
}
body {
  padding: 0 1.5em 1.5em 1.5em;
  font-size: 120%;
}
ul {
  margin-left: 1.5em;
}
h2 {
  font-size: 160%;
  font-weight: bold;
}
h2 .value {
  color: #cb4b16;
}
h2 a {
  font-size: 50%;
  margin-left: 2em;
}
h1 {
  font-size: 160%;
  padding: 0.5em;
  font-weight: bold;
}
h1 a {
  font-size: 40%;
  margin-left: 2em;
}
a,
a:visited {
  color: #268bd2;
}
p,
li {
  line-height: 1.4;
  font-size: 120%;
}
hr {
  height: 1px;
  border: 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image: linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}
pre {
  border: 1px solid #000;
}
table {
  color: #839496;
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 4em;
}
table th,
table td {
  border: 1px solid #000;
}
table th {
  background-color: #073642;
  font-weight: bold;
  vertical-align: bottom;
  padding: 0.5em 1em 0.2em 1em;
}
table td {
  background-color: #002b36;
  text-align: right;
  white-space: nowrap;
  vertical-align: top;
  padding: 0.2em 0.5em 1em 1em;
}
table td:last-child {
  text-align: left;
  white-space: normal;
}
table.downloads tr:first-child th {
  font-size: 140%;
}
table.downloads th.spacer {
  width: auto;
}
table.downloads td {
  width: 28em;
  padding: 0.5em 1em;
  text-align: center;
}
table.downloads td .size {
  margin-left: 1em;
  line-height: 1.2em;
}
table.downloadsIndividual td {
  white-space: normal;
}
table.downloadsIndividual td .size {
  margin-right: 3em;
}
table.symbols td.spacer,
table.symbols th.spacer {
  padding: 0;
  width: 1em;
}
table.symbols td {
  text-align: center;
  font-size: 150%;
  padding: 1em;
  vertical-align: middle;
}
#cardExample {
  float: left;
  margin-top: 1em;
  margin-left: 1em;
}
