extends _layout.jade

block contents
	#sets-contents
		each set in sets
			div
				h2=set.name
				p=set.code
				p=set.releaseDate
				.downloads
					a(href="json/" + set.code + ".json.zip") Zipped</a>
					a(href="json/" + set.code + "-x.json.zip") Zipped + Extras
					a(href="json/" + set.code + ".json") Set
					a(href="json/" + set.code + "-x.json") Set + Extras
	.windowswarning
		h2 Windows Warning
		p
			| Microsoft Windows does not allow files to be named CON (
			a(href="http://superuser.com/questions/86999/unable-to-rename-a-folder-or-a-file-as-con") see here
			|)
		p Thus on Windows you can't download CON.json, CON.json.zip or extract AllSetFiles.zip (which contains CON.json)
		p
			|Here are Window friendly links with an underscore suffix: 
			a(href="/json/CON_.json") CON_.json
			|  | 
			a(href="/json/CON_.json.zip") CON_.json.zip
			|  | 
			a(href="/json/AllSetFilesWindows.zip") AllSetFiles_Windows.zip
