doctype xml
urlset(xmlns='http://www.sitemaps.org/schemas/sitemap/0.9')
  url
    loc https://mtgjson.com/
    lastmod=lastUpdatedSiteMap
    changefreq monthly
    priority 1.0
  url
    loc https://mtgjson.com/documentation.html
    lastmod=lastUpdatedSiteMap
    changefreq monthly
    priority 0.8
  url
    loc https://mtgjson.com/sets.html
    lastmod=lastUpdatedSiteMap
    changefreq monthly
    priority 0.8
  url
    loc https://mtgjson.com/changelog.html
    lastmod=lastUpdatedSiteMap
    changefreq monthly
    priority 0.7
